<div class="pen-title" xmlns="">
  <h1>Flat Login Form</h1><span>Pen <i class='fa fa-paint-brush'></i> + <i class='fa fa-code'></i> by <a href=''>Tommy</a></span>
</div>
<!-- Form Module-->
<div class="module form-module">
  <!--<div class="toggle">-->

  <!--</div>-->
  <div class="form">
    <h2>Login to your account</h2>
    <form (submit)="loginForm($event)"> <!-- calling the function in ts file-->
      <input type="text" placeholder="Username"/>
      <input type="password" placeholder="Password"/>
      <button>Login</button>
      <a href="userRegistration">User Registration</a>
    </form>
  </div>
  <!--<div class="form">-->
  <!--<h2>Create an account</h2>-->
  <!--<form>-->
  <!--<input type="text" placeholder="Username"/>-->
  <!--<input type="password" placeholder="Password"/>-->
  <!--<input type="email" placeholder="Email Address"/>-->
  <!--<input type="tel" placeholder="Phone Number"/>-->
  <!--<button>Register</button>-->
  <!--</form>-->
  <!--</div>-->
  <div class="cta"><a href="">Forgot your password?</a></div>

</div>

