<!--<a routerLink="/">Home</a>-->
<!--<a routerLink="/aboutus">About US</a>-->
<!--The content below is only a placeholder and can be replaced.-->
<!--<div id="fullpage">-->
<!--<app-header></app-header>-->
<!--<app-login></app-login>-->
<!--<router-outlet></router-outlet>-->
<!--<app-mainpage></app-mainpage>-->
<!--</div>-->


<!-- login module -->
<div id="fullpage">
  <app-header></app-header>
  <!--<app-login></app-login>-->
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
