<!--<p>-->
<!--directory works!-->
<!--&lt;!&ndash;Hello {{ninja}} //pathparam&ndash;&gt;-->
<!--</p>-->
<form id="filter">
  <label>Filter Ninjas by Name</label>
  <input type="text" [(ngModel)]="sear" name="sear"/>

</form>
<h2>
  Ninja Listing
</h2>
<div class="mainbody">
  <ul id="ninja-listing">
    <li *ngFor="let ninja of ninjas | filter1:sear">
      <div class="single-ninja">
        <span [ngStyle]="{background: ninja.belt}">{{ninja.belt}} belt</span>

        <h3>{{ninja.name }}</h3>
        <!--<div id="closebtn" (click)="remove($event)" [attr.data-name]="ninja.name">X</div>-->
      </div>
    </li>
  </ul>

  <button (click)="logit()">Logging</button>
</div>
<div id="add-ninja">
  <input type="text" ([ngModel])="name"/>
  <input type="text" ([ngModel])="belt"/>
  <button (click)="putdata(name,belt)">Insert</button>
</div>
