<script>
  $(document).ready(function () {
    $(xmlns = "" / > "tr:odd").css({
      "background-color": "#000",
      "color": "#fff"
    });
  });
</script>

<form style="margin: 0px 20%;">
  <div>
    <table width="100%">
      <tr>
        <td width="10%">{{ projectId }}</td>
        <td width="30%">{{ projectName }}</td>
        <td width="20%">{{ createdBy }}</td>
        <td width="15%">{{ custId }}</td>
        <td width="15%">{{ deptId }}</td>
        <td ngClass="even" width="10%">
          <button (click)="selectRecord()" style="width: 100%;color: #4CAF50;background-color: #1780a3">Select Record
          </button>
        </td>
      </tr>


    </table>
  </div>
</form>
