h2{
  text-align: center;
}

form{

  background-color: #f2f2f2;

}

h3{
  margin-left: 2%;
}


.even{
  background-color: transparent;
}

.odd{
  background-color: #b3b3b3;
}

tr:hover{
  background-color:grey;
}


tr:nth-child(2) {
  background-color: #b3b3b3;
}

table{
  outline-color: #4d4d4d;

}
